.footer
  background: $color-grey-lightest
  color: $color-grey
  display: flex
  padding: rhythm(1)
  font-size: $font-size-n1

  a
    color: $color-grey

    &:hover
      color: $color-text

  &__legal, &__nav
    flex: 1
