.footer
  background: $color-grey-lightest
  color: $color-grey-darkest
  display: flex
  padding: rhythm(1)
  font-size: $font-size-n1

  a
    color: $color-grey-darkest

  &__legal, &__nav
    flex: 1
