.header
  background: $color-white
  display: flex
  padding: rhythm(0.5) rhythm(1)

  aside
    flex: 0 0 7.5%

  nav
    flex: 0 0 46.25%

  &__logo
    font-weight: $font-weight-semibold

    a:hover
      color: $color-text-dark

  .nav__item
    font-size: $font-size-n1
    line-height: $line-height-normal
