.hero
  align-items: center
  background-size: cover
  background-position: center center
  color: $color-dark-green
  display: flex
  height: 75vh
  justify-content: center
  padding: rhythm(1)
  text-align: center

  @media (min-width: $breakpoint)
    height: calc(100vh - #{rhythm(4.125)})

  &__title
    font-size: $font-size-2
    font-weight: $font-weight-semibold
    line-height: $line-height-normal

  &__description
    font-size: $font-size-1

  &__actions
    flex: 0
    margin-top: rhythm(1)

    .btn
      display: inline-block
