<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{ site.description }}">

    <title>{{ site.title }}</title>

    <link href="/assets/css/application.css" rel="stylesheet">

    <script src="https://use.typekit.net/kes2xns.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>
    <header class="header" role="banner">
      <aside class="header__banner">
        <h1 class="header__logo"><a href="/">Rover</a></h1>
        <a class="js-nav-toggle" href="#"><i class="ss-icon">rows</i></a>
      </aside>
      <nav class="header__nav nav">
        <ul class="nav__list">
          {% assign nav = site.pages | where:"nav","header" | sort:"position" %}
          {% for page in nav %}
            <li class="nav__item"><a href="{{ page.permalink }}">{{ page.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      <nav class="header__nav nav">
        <ul class="header__nav nav__list nav__list--right">
          <li class="nav__item"><a href="#">Login</a></li>
          <li class="nav__item"><a href="#">Join</a></li>
        </ul>
      </nav>
    </header>
    <main class="main" role="main">
      {{ content }}
    </main>
    <footer class="footer" role="footer">
      <nav class="footer__nav nav">
        <ul class="nav__list nav__list--right">
          {% assign nav = site.pages | where:"nav","footer" | sort: "position" %}
          {% for page in nav %}
            <li class="nav__item"><a href="{{ page.permalink }}">{{ page.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      <aside class="footer__legal">
        <p class="footer__copyright">&copy; 2016 <a href="/">Rover</a></p>
      </aside>
    </footer>
    <script src="/assets/jsc/jquery-3.1.1.min.js"></script>
    <script src="/assets/jsc/application.js"></script>
  </body>
</html>
